<!-- exluding template for the navabar

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Inside</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
                
         <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Willkommen: {{user.username}}!</a>
        </li>
        
        {% else %}
        
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
        
        {% endif %}
      </ul>
    </div>
  </nav>

  <style>
    li.nav-item{
      width: auto;
    }
    a.nav-link{
      width: auto;
    }
  </style>
-->



<div class="container">
  <!--<a href="/"><img src="logo.png" alt="Firmenlogo"/></a> -->
  <a class="brand" href="/">Insite Consulting</a>
  <nav>
    <ul>
      {% if user.is_authenticated %}
                
         <li>
            <a href="/logout">Logout</a>
        </li>
        <li>
            <a href="#">Welcome: {{user.username}}!</a>
        </li>
        
        {% else %}
        
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
        
        {% endif %}
    </ul>
  </nav>
</div>

<style>
    .container {
	width: auto;
  margin: 0 auto;
}

header{
  background: #cecac5;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

a.brand {
  float: left;
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  padding: 0;
  text-align: center;
  margin-bottom: 10%;
}
nav a:hover {
  color: #000;
}
nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
</style>
