<!-- exluding template for the navabar-->
{% load static %}

<nav class="navbar">
	  
	       
  <div class="navbar_left">
  <a href="/"><img src="{% static "images/logo.png" %}" alt="Firmenlogo"/></a> 		
</div>
  {% if user.is_authenticated %}
  <div class="navbar_right">
  <a class="navbar_item" href="/"> Home </a>
  <a class="navbar_item" href="/create"> Frage stellen </a>
  <a class="navbar_item" href="#..."> Archiv </a>
</div>

<div class="navbar_profil">
  <a class="navbar_item" href="/logout"> Logout </a>
</div>
  {%else%}

  <div class="navbar_profil">
    <a class="navbar_item" href="/login"> Login </a>
  </div>
  {%endif%}
</nav>

<style>
  img {
	width: 150px; 
	height: auto;
	margin: 0px 0px 10px 0px;
}
  .navbar {
    background-color: #18171c;
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 1.5rem;
}


.navbar_left {
	padding-left: 25px;
}


.navbar_right {
    text-align: right;
	padding-left: 10px;
}


.navbar_profil {
    display: flex;
    align-items: center;
}


.navbar_item {
    margin-right: 66px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3;
    padding: .75rem .5rem;
	display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: white;
} 


.navbar_item:hover {
    color: #e8422a;
    border-color: #e8422a;
    transition: color 0.4s;
    border-color: 0.4s;
}
</style>